<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="secondary">
            <ion-button>
                <ion-icon slot="icon-only" name="notifications"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="titulo">Estadisticas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="flex">
        <div class="flex-item">
            <div style="display: block;" >
                <h3 class="text-center"  >Instrumento:</h3>
          <canvas baseChart 
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType">
  </canvas>
            </div>
        </div>
    <div id="div-btn" class="container text-center" *ngFor="let boton of botones" >
<ul id="button">
    <li *ngIf="boton.nombre === 'Estudios'">
            <ion-button  color="primary"  (click)="estudios()">{{boton.nombre}}</ion-button>
    </li>
    <li  *ngIf="boton.nombre === 'Obras o estándar'">
            <ion-button  color="warning" (click)="obras()">{{boton.nombre}}</ion-button>
     </li>
    <li *ngIf="boton.nombre === 'Improvisación'">
            <ion-button  color="success" (click)="improvisacion()">{{boton.nombre}}</ion-button>
    </li>
    <li *ngIf="boton.nombre === 'Escalas'">    
            <ion-button  color="danger" (click)="escalas()">{{boton.nombre}}</ion-button>
    </li>
</ul>
       </div>
    </div>
</ion-content>