<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="secondary">
            <ion-button>
                <ion-icon slot="icon-only" name="notifications"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="titulo">Estadisticas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="flex">
        <div class="flex-item">
            <div style="display: block;" >
                <h3 class="text-center" *ngIf="estEscalas" >Instrumento:</h3>
                <canvas id="canvas" >
                </canvas>
            </div>
        </div>
        <div class="container text-center" *ngFor="let boton of botones">
        <div *ngIf="boton.nombre === 'Estudios'">
            <ion-button  color="primary" (click)="estudios()">{{boton.nombre}}</ion-button>
        </div>
        <div *ngIf="boton.nombre === 'Obras o estándar'">
            <ion-button  color="primary" (click)="obras()">{{boton.nombre}}</ion-button>
        </div>
        <div *ngIf="boton.nombre === 'Improvisación'">
            <ion-button  color="primary" (click)="improvisacion()">{{boton.nombre}}</ion-button>
        </div>
        <div *ngIf="boton.nombre === 'Escalas'">
            <ion-button  color="primary" (click)="escalas()">{{boton.nombre}}</ion-button>
        </div>
        </div>
    </div>
</ion-content>