.titulo {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;

   
}
#canvas{
width: 50%;
height: 200px;
}

#button{
    padding: 0;
}
#button li{
    display: inline;
}