ion-slide {
    display: block;
}

img {
    max-height: 500px;
    padding-top: 30px;
}

.slide-img-padding {
    padding: 40px;
}

h3 {
    font-size: 45px;
    font-weight: lighter;
    margin-bottom: 60px;
    font-family: 'Times New Roman', Times, serif;
}

.btn-primary {
    height: 40px;
}

ion-slides {
    --bullet-background: grey;
    --bullet-background-active: #eb3519;
}

@media screen and (max-height: 775px) {
    img {
        width: 90%;
    }
}

.boton {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px !important;
}